.table {
  background-color:#FAF0CA;
  text-align: center;
}

.options ul {
  list-style-type: none;

}

.options li {
  display: inline;
  padding-right: 15px;
  color: #0D3B66;
}

.options a {
  outline-color: purple
}
