.login-form {
  margin: 0 auto;
  margin-top: 80px;
  font-family: 'Merriweather', serif;
  outline: 1px dotted black;
  width: 65%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.demo-info {
  font-family: 'Merriweather', serif;
  background:#f5f5f5;
}
