#draw {
  outline: 1px dotted black;
}

.black-button {
  font-family: 'Merriweather', serif;
  background: black;
  color: white;
  height: 50px;
  margin-right: 10px;
  width: 15%;
  border-radius: 30%;

}

.blue-button {
  font-family: 'Merriweather', serif;
  background: blue;
  color: white;
  height: 50px;
  margin-right: 10px;
  width: 15%;
  border-radius: 30%;
}

.yellow-button {
  font-family: 'Merriweather', serif;
  background: yellow;
  color: black;
  height: 50px;
  margin-right: 10px;
  width: 15%;
  border-radius: 30%;

}

.red-button {
  font-family: 'Merriweather', serif;
  background: red;
  color: white;
  height: 50px;
  margin-right: 10px;
  width: 15%;
  border-radius: 30%;
}

.green-button {
  font-family: 'Merriweather', serif;
  background: green;
  color: white;
  height: 50px;
  margin-right: 10px;
  width: 15%;
  border-radius: 30%;

}

@media screen and (min-width: 500px) {

  .green-button, .black-button, .yellow-button, .red-button, .blue-button {
    font-size: 15px;
  }
}

.save-button {
  font-family: 'Merriweather', serif;
  border-radius: 30%;
  height: 50px;
  color: #0D3B66;
  background: #FFFC99;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
}

.reset-button {
  font-family: 'Merriweather', serif;
  border-radius: 30%;
  height: 50px;
  color: #0D3B66;
  background: #FFFC99;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}
