.header {
  background-color: #0D3B66;
  color: #FAF0CA;
  width: 100%;
  overflow: hidden;
}

.header-text {
  list-style: none;
  color: #FAF0CA;
}

.logout-link, .signup-link, .gallery-link, .login-link {
  color: #FAF0CA;
  float: right;
  padding-right: 15px;
}
