.header {
  background: linear-gradient(#FAF0CA, #4a148c);
  color: #FAF0CA;
  text-shadow:2px 2px #0D3B66;
  width: 100%;
  overflow: hidden;
  font-family: Georgia, serif;
  list-style-type: none;
  text-decoration: none;
}

.header a {
  text-decoration: none;
}

.no-underline {
  text-decoration: none;
}

.header-text {
  list-style-type: none;
  text-decoration: none;
  color: #FAF0CA;
  letter-spacing: 5px;
  font-size: 40px;
}

.header h2 {
  letter-spacing: 3px;
}
.logout-link, .signup-link, .gallery-link, .login-link {
  letter-spacing: 3px;
  padding-bottom: 5px;
  color: #90a4ae;
  float: right;
  padding-right: 15px;
  text-decoration: none;
}

@media screen and (min-width: 720px) {

  .logout-link, .signup-link, .gallery-link, .login-link {
    font-size: 20px;
  }
}

/* unvisited link */
.header-text:link, .logout-link:link, .gallery-link:link, .login-link:link, .signup-link:link{
  color: #90a4ae;
  text-decoration: none;
}

/* visited link */
.header-text:visited, .logout-link:visited, .gallery-link:visited, .login-link:visited, .signup-link:visited {
    color: #cfd8dc;
    text-decoration: none;
    outline: purple;
}

/* mouse over link */
.header-text:hover, .logout-link:hover, .gallery-link:hover, .login-link:hover, .signup-link:hover {
    color: #FFF4E9;
    text-decoration: none;
}
