.footer {
  font-family: 'Merriweather', serif;
  /* background: linear-gradient(#0D3B66, #FAF0CA); */
  /* background: linear-gradient(#4a148c, #FAF0CA); */
  width: 100%;
  background-image:url("image.jpg");
  color: white;
  text-shadow:1px 1px black;
  /* color: #FAF0CA; */
  /* text-shadow:2px 2px #0D3B66; */
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  padding: 1rem;
  text-align: center;
  margin-top: 10px;
}

.footer-links a {
  list-style-type: none;
  text-decoration: none;
}

/* unvisited link */
.footer-more-info-sol:link {
    color: #FAF0CA;
}

/* visited link */
.footer-more-info-sol:visited {
    /* color: #EDC7CF; */
    color: black;
}

/* mouse over link */
.footer-more-info-sol:hover {
    color: #FFF4E9;
}

/* selected link */
.footer-more-info-sol:active {
    color: #5E4C5A;
}
